<web-app>
    <servlet>
        <servlet-name>logExample</servlet-name>
        <servlet-class>com.example.LogExampleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logExample</servlet-name>
        <url-pattern>/logExample</url-pattern>
    </servlet-mapping>
</web-app>
